# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing for loops.
Complete all the for loop challenges on the paper. please read each challenge
carefully and make sure that your for loops display exactly what is asked. If
you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [29]:
# Display all numbers from 0 to 100 

for i in range (0, 101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Display all numbers from 100 to 0

In [64]:
# Display all numbers from 100 to 0 

for i in range (101,0):
    print(i)

Display all even numbers from 2 to 100

In [51]:
# Display all even numbers from 2 to 100  

for i in range (0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Display all odd numbers from 1 to 99

In [52]:
# Display all odd numbers from 1 to 99  

for i in range (1, 100, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [97]:
# Display all numbers from 1 to 500.

for i in range (1, 101):
   
    if i % 2 == 0:
        print((i), 'is even')

    elif i % 1 == 0:
        print((i), 'is odd')

    else:
        print(i)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

Display all multiples of 7 from 0 to 70

In [85]:
# Display all multiples of 7 from 0 to 777

for i in range (0, 778, 7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [100]:
# Your Code Here

for i in range (2012, 2025):
    
    if i % 2 == 0:
        print (i)

2012
2014
2016
2018
2020
2022
2024

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [101]:
# Examples of Nested Loops

for i in range(8):
    for j in range(8):
        print(f"({i},{j})", end= ' ')
    print()

(0,0) (0,1) (0,2) (0,3) (0,4) (0,5) (0,6) (0,7)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5) (1,6) (1,7)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6) (2,7)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (3,6) (3,7)
(4,0) (4,1) (4,2) (4,3) (4,4) (4,5) (4,6) (4,7)
(5,0) (5,1) (5,2) (5,3) (5,4) (5,5) (5,6) (5,7)
(6,0) (6,1) (6,2) (6,3) (6,4) (6,5) (6,6) (6,7)
(7,0) (7,1) (7,2) (7,3) (7,4) (7,5) (7,6) (7,7)

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [ ]:
# Display the output shown above

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

In [ ]:
# Display the numbers 1 through 9 in a 3x3 square grid

Display the numbers 1 through 100 in a 10x10 square grid.

In [ ]:
# Display the numbers 1 through 100 in a 10x10 square grid.

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [ ]:
# Display the asterisk pattern shown above